body {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 300;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    background-color: #ffffff;
/*    box-shadow: 0 1px 4px rgba(128, 128, 128, .3),
      -23px 0 20px -23px rgba(128, 128, 128, .8),
      23px 0 20px -23px rgba(128, 128, 128, .8),
      0 0 40px rgba(128, 128, 128, .1) inset;*/
  }

  body {
    background-color: #f2f2f2;
  }
}

/*base end*/
