.button {
  text-transform: uppercase;
  font-weight: 800;
  font-size: @fontSize + 7px;
  line-height: @fontSize + 7px;
  background-color: @colorBlue;
  color: #fff;
  padding: 20px 35px;
  display: block;
}

@media screen and (min-width: 760px) {
  .button {
    width: 460px;
  }
}
