.nav {
  position: relative;
  .title();
  text-transform: uppercase;
}

.nav__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.nav__item {
  border-bottom: 1px solid #7490a8;
}

.nav__link {
  background-color: @colorBlue;
  color: #fff;
  line-height: 18px;
  display: block;
  padding: 18px;
}

.nav__link:hover {
  background-color: #669ec0;
}

.nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.nav__button {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 14px;
  display: none;
}

.nav__icon {
  width: 23px;
  height: 22px;
}

.nav__icon--close {
  margin-top: 16px;
  fill: @colorIcon;
}

.nav__icon--open {
  margin-top: 200px;
  fill: @colorBlue;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    background-color: white;
    font-size: @fontSize;
    margin-left: 30px;
    margin-right: 10px;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
  }

  .nav__item {
    border-bottom: none;
  }

  .nav__item:nth-child(2) {
    margin-left: 41px;
    margin-right: auto;
  }

  .nav__item:last-child {
    margin-left: 14px;
  }

  .nav__link {
    background-color: transparent;
    color: black;
  }

  .nav__link:hover {
    color: #81b3d2;
    background-color: transparent;
  }

  .nav__link:active {
    color: #766357;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    background-color: white;
    font-size: @fontSize;
    margin-left: 72px;
    margin-right: 55px;
  }

  .nav__item:nth-child(2) {
    margin-left: 126px;
  }

  .nav__item:nth-child(4) {
    margin-left: 100px;
  }
}
